:root {
    --red: #e63946;
    --off-white: #ad88da;
    --blue: #457b9d;
    --dark-blue: #1d3557;
  }
  
  body {
    min-height: 100vh;
    height: 100%;
    background-color:white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  main {
    padding: 30px;
  }

  header {
    height: 100%;
    color: dodgerblue;
  }
  
  .nav-a {
    color: azure;
    background-color: rgb(15, 189, 96);
    margin-top: 43px;
    margin-left: 32px;
    padding: 13px;
    border-radius: 9px 9px;
  }
  
  .log_button {
    color: white;
  }
  .side_bar_navi {
    font-size: 20px; 
    background: dodgerblue; 
    color: white; 
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
  }

  .hello_user {
    display: inline-block;
  }

  ul {
    margin-top: 30px;
  }
  
  a:hover,
  a:focus {
    color: var(--blue);
    text-decoration: none;
  }

  h1 {
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
  }
  
  h2 {
    font-size: 50px;
    text-align: center;
  }

  #site-logo {
    max-height: 200px;
  }
  
  footer {
    padding: 1em;
    background-color: var(--dark-blue);
  }