<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>My site</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
    <style>
    .dropbtn {
        background-color: rgb(15, 189, 96);
        color: white;
        padding: 13px;
        font-size: 16px;
        border-radius: 9px 9px;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {background-color: rgb(15, 189, 96);}

    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
    </style>
</head>
<body>
    <header>
        <div class="side_bar_navi">
            <div>
                <div class="dropdown">
                    <button class="dropbtn">Podcasts</button>
                    <div class="dropdown-content">
                        <a href="{% url 'homepage' %}" role="button">All podcasts</a>
                        <a href="{% url 'every-podcast-list' %}?podcast_name=Podcasts - discover, discuss, review" role="button">Redit </a>
                        <a href="{% url 'every-podcast-list' %}?podcast_name=Подкасты - Лайфхакер" role="button">LifeHucker </a>
                        <a href="{% url 'every-podcast-list' %}?podcast_name=The Real Python Podcast" role="button">The Real Python </a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">News</button>
                    <div class="dropdown-content">
                        <a href="{% url 'news-blog-list' %}" role="button">All News</a>
                        <a href="{% url 'every-news-blog' %}?section=MMA Fighting -  All Posts" role="button">MMA Fighting</a>
                        <a href="{% url 'every-news-blog' %}?section=K-News" role="button">K-News </a>
                        <a href="{% url 'every-news-blog' %}?section=Главные новости - Спорт: футбол, хоккей, баскетбол, теннис, бокс, Формула-1 – все новости спорта на Sports.ru" role="button">Sports.ru</a>
                    </div>
                </div>       
            </div>     

        <div class="hello_user">
                Hello, {{ user.username|default:'Guest' }}!
                <div>
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="log_button">Logout</a>
                        <a href="{% url 'password_change' %}" class="log_button">Change password</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="log_button">Login</a>
                    {% endif %}
                </div>
        </div>
        </div>

        <h1>My site</h1>
        {% block title %}
        {% endblock %}
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>  
</body>
