{% extends "base.html" %} 
  {% block title %}
    <h2>Podcasts</h2>
  {% endblock %}
  <div class="row">
    {% block content %}
            <div class="col">
              {% for object in object_list %}
              <section class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-2 my-auto">
                      <img
                          src="static/images/logo.jpg" width="300" height="300"
                          alt="{{ object.podcast_name }}"
                      />
                  </div>
                  <div class="col-md-10">
                    <div class="card-body ml-3">
                      <h3 class="card-title">{{ object.title }}</h3>
                      <p class="card-text">{{ object.description }}</p>
                      <a href="{{ object.link }}">
                        <p class="card-text">🎧 Listen to this release</p>
                      </a>
                    </div>
                  </div>
                </div>
              </section>
              {% endfor %}
            </div>
          </div>
    {% endblock %}