{% extends 'base.html' %}
    {% block title %}
        <h2>News</h2>
    {% endblock %}
    {% block content %}
        <div class="row">
            <div class="col">
                {% for object in object_list %}
                <section class="card mb-3">
                    <div class="row no-gutters">
                    <div class="col-md-2 my-auto">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body ml-3">
                            <a href="{{ object.link }}"><h3 class="card-title">{{ object.title }}</h3></a>
                            <p class="card-text">{{ object.description | slice:"400" }}</p>
                        </div>
                    </div>
                    </div>
                </section>
                {% endfor %}
            </div>
        </div>
    {% endblock %}